.nav-bar {
    height: 80px;
}
.bg {
    height: 550px;
    background-image: url(./Images/home-banner.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-left {
    height: 550px;
    /* background-color: wheat; */
}
.hero-left button {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    color: #fff;
}